#header-wrapper{
    display: flex;
    flex-flow: column nowrap;
    margin: 10px auto;
    max-width: 1170px;  
}

.header-contacts, 
.header-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    gap: 20px;
    width: 100%;      
}

.header-contacts {
    padding: 10px 0;
}

.header-bottom {
    padding: 20px 0;
}

.location,
.mail,
.phone {
    display: flex;
    align-items: center;
}

.mail #email{
    text-decoration: underline;
    color: #828282;
}

.contact-item,
.mail .contact-item a,
.advantage_item .text-bottom
{
    color: #828282;
}

.header-bottom .menu a{
    color: #4f4f4f;
}

.header-bottom .menu{
    display: flex;
    gap: 30px;
}

.menu {
    flex-wrap: wrap;
    margin-left: 40px;
    text-align: center;
    font-size: 16px;
    gap: 25px;
    color: #828282;
}

.label {
    font-weight: bold;
}

.logo{
    margin-left: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.logoname {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #013878;
}

.slogan {
    font-size: 13px;
    font-weight: lighter;
    color: #828282;
}

a.callback-btn-header {
    background: #FF4D00;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    display: block;
    margin-left: 40px;
}

.advantages{
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-flow: column wrap;
}

.advantages-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
    max-width: 1170px;
    gap: 30px;
    height: 100%;
    margin-bottom: 50px;
}

.advantage_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 270px;
    gap: 10px;
    flex-shrink: 1;
}

.advantage_item svg{
    align-self: center;
}

#advantages-logo{
    margin-top: 50px;
    margin-bottom: 0px;
}

.advantage_item .text-bottom{
    text-align: center;
    font-size: 14px;
}

.advantage_name{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 18px;
}


footer{
    margin-top: 60px;
    height: 60px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyrights{
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    color: #828282;
}
